@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh; /* vijual part of the brwser */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  position: fixed;
  background-color: #fff;
  box-shadow: 3px 3px 10px #000;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav ul li {
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 8px;
  letter-spacing: 0.5px;
}
.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.nav.active a {
  color: #000;
}

.nav a {
  -webkit-text-stroke: 1px black;
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.logo_title {
  text-align: center;
  -webkit-text-stroke: 1px black;
}
.logo {
  font-weight: 300;
  line-height: 1%;
}
.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}
.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1px;
}

.page_container {
  position: relative;
  overflow: hidden;
  width: 90vw;
  height: 150vh;
  margin-left: 4%;
}
.right_pane {
  height: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  transition: transform 0.5s ease-in-out;
}

.right_pane div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  width: 100%;
  background-attachment: fixed;
}

.right_pic {
  background-image: url('https://images.unsplash.com/photo-1588471790208-16825e6bcc24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
  object-fit: fill;
}

.right_pane .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  text-align: center;
}

.right_pane .info h1 {
  color: rgb(248, 52, 52);
  position: absolute;
  top: 13%;
  left: 20%;
}

.right_pane .info p {
  position: absolute;
  top: 20%;
  left: 12%;
  line-height: 22px;
}

.right_pane .info #read_more {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(248, 52, 52);
  color: #000;
  bottom: 20%;
  left: 60px;
  padding: 16px;
  margin-top: 10px;
}

.right_pane .info #read_more:hover {
  cursor: pointer;
  color: rgb(248, 52, 52);
}

#read_more:active {
  transform: scale(95%);
}

.left_pane {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 10%;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left_pane div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(244, 249, 255);
  position: relative;
}

.left_pane .drawing {
  height: 100%;
  width: 50%;
  background-image: url('https://www.pngitem.com/pimgs/m/148-1480760_olives-drawing-olive-branch-olive-leaf-drawing-png.png');
  background-size: 246px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.name {
  height: 10%;
  position: absolute;
  text-align: center;
}
.name_title {
  color: rgb(211, 19, 19);
}
.name_def {
  color: #000;
}
#see_menu {
  background-color: #fff;
  border: 1px solid red;
  color: rgb(248, 52, 52);
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#see_menu_link {
  background-color: #fff;
  border: 1px solid red;
  color: rgb(248, 52, 52);
  width: 20%;
  height: 7%;
  margin-top: 15px;
}

#see_menu:hover {
  cursor: pointer;
  background-color: rgb(248, 52, 52);
  color: #fff;
}
#see_menu:active {
  transform: scale(95%);
}

.left_pane .worker {
  background-color: rgb(211, 19, 19);
}

.left_pane .worker_pic {
  height: 75%;
  width: 80%;
  background-image: url('https://images.unsplash.com/photo-1623594629187-2a68392cbab9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  margin-bottom: 18%;
}

.pic_container {
  position: relative;
  overflow: hidden;
  width: 90vw;
  height: 170vh;
  margin-left: 4%;
  margin-top: 10%;
}

.pic_container div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50%;
  width: 100%;
  background-attachment: fixed;
}

.opening_hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 45%;
  border: 1px solid red;
}

.opening_hours h1 {
  color: rgb(248, 52, 52);
  margin-bottom: 10px;
  line-height: 4rem;
  font-weight: 700;
}

.opening_hours h3 {
  font-weight: 100;
  line-height: 2rem;
}

.book_table {
  margin-top: 6rem;
  width: 80%;
  border: 1px solid rgb(248, 52, 52);
  padding-left: 10%;
  padding-top: 6%;
  background-color: rgb(248, 52, 52);
}
.reservation {
  text-align: center;
  margin-bottom: 3rem;
}
.book_table input {
  width: 20%;
  height: 36px;
  border: 1px solid #fff;
  background-color: rgb(246, 52, 52);
  color: #fff;
  margin-right: 2rem;
}

.book_table input:focus {
  outline: none;
}

.book_table #submit_reservation {
  background-color: #fff;
  color: rgb(246, 52, 52);
}

.book_table #submit_reservation:hover {
  cursor: pointer;
  background-color: rgb(197, 191, 191);
}

.book_table #submit_reservation:active {
  transform: scale(95%);
}
.long_pic {
  height: 40%;
  width: 91%;
  margin-left: 4%;
  margin-top: 5rem;
  background-image: url('https://media.istockphoto.com/photos/breakfast-time-on-wooden-table-picture-id659593670');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.contact_us {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  text-align: center;
  color: rgb(246, 52, 52);
  font-weight: 400;
}

.contact_ditails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20%;
  line-height: 28px;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address {
  width: 80%;
  margin-left: 5%;
  padding-left: 10%;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
}
.input input {
  border: none;
  border-bottom: 1px solid #000;
}

.input input:active {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.input input:hover {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.input input:focus {
  outline: none;
  border-bottom: 3px solid #000;
}

textarea {
  border: none;
  border-bottom: 1px solid #000;
  width: 60%;
  margin-left: 20%;
}

.input textarea:active {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.input textarea:hover {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid #000;
}

#submit {
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
  height: 42px;
  background-color: #fff;
}

#submit:active {
  transform: scale(90%);
}

.map {
  margin-top: 150px;
  width: 100%;
}
